@page
@model AADMS.Pages.DemoModel
@{
    ViewData["Title"] = "Demo";
    Layout = "~/Pages/Shared/_Primary.cshtml";
}

<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>
<h2>Demo Page</h2>

